body{
    background-color: rgb(242, 249, 255);
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
display: flex;
justify-content: center;
background-color: hsla(0, 0%, 100%, 0.3);
height: 200px;
padding-top: 70px;
}
.navbar{
    background-image: url("background.png");
    background-size: 2300px;
    background-position-x: -100px;
    background-position-y: -100px;
    text-align: center;
}
#headline h2{
    color: white;
    font-size: 55px;
}
#headline p{
    -webkit-text-stroke: 8px rgb(129, 0, 0);
    font-size: 200px;
    color: #f95050;
}
.location-bar{

    padding: 25px 0px;
    border-radius: 30px 30px 0px 0px;
    background-color: #f95050;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.location-bar h2{
font-size: 50px;
}
.location-bar h3{
    font-size: 20px;
}
menu-titles{
    color: #f95050;
    font-weight: bold;
}